* {
margin: 0;
padding: 0;
font-size: 0
}

body {
  margin: 0;
  padding: 0;


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
width: 1200px;
margin: 0 auto;
box-shadow: 3px 4px 15px 0 rgba(0, 1, 1, 0.2);

}

a {
  text-decoration: none;
}

/*
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
.main-header {
  min-height: 56px;
}
.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}

.main-menu,
.footer-social {
  list-style: none;

}

.main-menu {
display: flex;
flex-wrap: wrap;

width: 1200px;
font-size: 14px;
line-height: 26px;
font-weight: 700;
}

.main-menu__item {
  width: 20%;
}

 .main-menu__item:nth-child(2) {
  margin-right: auto;
}

.main-menu__link,
.footer-social__link {
  color: #000000;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.main-menu__link:hover {
  color: #81b3d2;
}

.main-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo {
  position: relative;

  height: 510px;
  background-color: #5496bd;
  background-image: url(../img/background-photo.jpg);
  width: 100%;
  margin-bottom: 60px;
}

.promo::after,
.promo::before {
  content: '';
  display: block;
  position: absolute;
  transform: translateX(-50%);
}

.promo::before {
  background-image: url(../img/intro-welcome.svg);
  width: 459px;
  height: 353px;
  top: 76px;
  left: 50%;

}

.promo::after {
  background-image: url(../img/intro-mask.svg);
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 50%;

}



.features h2 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.features p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}



.hotel-form h2 {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 33px;
}

.search-form__description {
  margin-bottom: 52px;
}

.hotel-form p {
  line-height: 24px;
  text-align: center;
}

.button {
  font: inherit;

  text-align: center;
  color: #333333;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-search,
.button-buy {
  background-color: #766357;
}

.button-search {
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  width: 568px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  margin-bottom: 55px;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
background-color: #503e33;
color: rgba(255, 255, 255, 0.3);
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  width: 568px;
}

.search-form input {
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:active {
  background-color: #ffffff;
  border-color: #e5e5e5;
  outline: 0;
  outline-offset: 0;
}

.search-form input:focus {
  background-color: #fff;
    outline: 1px solid #e5e5e5;
}

button.btn-minus,
button.btn-plus {
  color: #a9a9a9;
}

button.btn-minus:hover,
button.btn-plus:hover {
  color: #000000;
}
button.btn-minus:active,
button.btn-plus:active {
color: #81b3d2;
}

button.btn-minus:focus,
button.btn-plus:focus {
  outline: 1px solid #e5e5e5;
}

input.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;

  background-color: #81b3d2;
}

input.button:hover {
  background-color: #669ec0;
}

input.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.btn-plus,
.btn-minus {
  color: #a9a9a9;
  border: none;
  text-transform: uppercase;
  font-weight: 700;

  background-color: #f2f2f2;
}

.btn-plus button:hover,
.btn-minus button:hover {
  color: #000000;
}

/* страница с отелями */

.main-menu__link_active{
  color: #766357;
}

.inner-page {
  background-color: #fefefe;
}

.catalog-item h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.catalog-item h3:hover {
  color: #81b3d2;
}

.catalog-item h3:active {
  opacity: 0.3;
}

.item-type {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.catalog-item-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.rating {
  color: #666666;
  font-size: 14px;
  line-height: 26px;
  background-color: #f2f2f2;
}

a.button-detail {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

a.button-detail:hover {
  background-color: #5496bd;
}

a.button-detail:active {
  color: rgba(255, 255, 255, 0.3);
}

a.button-buy {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

a.button-buy:hover {
  background-color: #604e43;
}

a.button-buy:active {
  color: rgba(255, 255, 255, 0.3);
}
/* footer */
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 37px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 100px;

}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 150px;


  padding-right: 228px;
}



.footer-social__link:hover,
.footer-social__link:focus {
  text-decoration: none;
}

.footer-social__link {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #81b3d2;
}

.footer-social__link:hover {
  background-color: #5496bd;
}

.academy-logo:hover path,
.copyright-icon:focus path {
  fill: #81b3d2;
}

.academy-logo:active path {
  fill: #bdbbbc;
}

.footer-copyright {
  display: flex;
   align-items: center;
   justify-content: center;
   width: 240px;
   margin: 0;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  width: 140px;
  text-align: center;

  padding-right: 255px;
}

.footer-copyright__text {
  font-size: 14px;
  line-height: 26px;
  display: block;
  width: 82px;
}

.footer-copyright__link {
  width: 115px;
  height: 41px;
}
